@charset "ISO-8859-1";
.estatura{
	   position: absolute;
    height: 400px;
    width: 600px;
    background:  white;
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-top-right-radius: 20px;
    border:1px solid rgb(25,25,25);
	
}