<!DOCTYPE html>
<html xmlns:th="http://www.thymealft.org">
<head>
<meta charset="ISO-8859-1">
<title>Notas</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel= "stylesheet" th:href="@{estilo.css}"> 
<body>

<a class="btn btn-success" th:href="@{/Agregar}"> AGREGAR</a>
<div class="estatura">
<table class="table-dark" style="margin: 0 auto;" border="1"  >
<tr>

<td >NOMBRE </td> 
<td>APELLIDO </td> 
<td>MATERIA </td> 
<td>NOTA </td> 
<td>EDITAR </td>
<td>ELIMINAR </td>

</tr>

<tbody class=cuerpo border="1" >
<tr  class="table-active" th:each="Notas: ${Nota}">
<td  th:text="${Notass.nombre}"> </td>
<td  th:text="${Notass.apellido}"> </td>
<td  th:text="${Notass.materia}"> </td>
<td  th:text="${Notass.nota}"> </td>

 <td><a  th:href="@{/editar/} + ${Notas.id_nota}" style="color: black;" > EDITAR</a> </td>
 <td><a th:href="@{/eliminar/} + ${Notas.id_nota}"  style="color: black;"> ELIMINAR</a> </td>
 </tr>
</tbody>
</table>
</div>
</body>
</html>